.background {
    -fx-background-color: #D6CFCB;
}

#jobButt {
   -fx-background-color: #A6808C;
   -fx-text-fill: #D6C5BC;
   -fx-font-size: 22;
   -fx-margin: 100;
   -fx-background-radius: 40;
}

#jobsList {
    -fx-alignment: center;
    -fx-spacing: 10;


}

#titleLabel {
    -fx-font-size: 35;
    -fx-text-fill: #A6808C;
}

#arrScenes1 {
     -fx-background-color: #A6808C;
    -fx-text-fill: #D6C5BC;
    -fx-font-size: 22;
    -fx-margin: 100;
}

#arrScenes2 {
    -fx-background-color: #A6808C;
   -fx-text-fill: #D6C5BC;
   -fx-font-size: 22;
   -fx-margin: 100;
}