/* Background colors */

.background, #vboxLightTech, #vboxSoundTech, #arrButts, #vBoxTekniker, VBox, HBox, Anchorpane, #vboxArtists, #arrSplitPane {
    -fx-background-color: #D6CFCB;
}

#jobButt {
    -fx-background-color: #A6808C;
}



/* List of buttons */

#jobsList {
    -fx-alignment: center;
}

#jobsList {
    -fx-spacing: 20;
}

#arrButts, #vBoxTekniker, #vBoxBands, #vBoxGenre, #vBoxBandsTab2, #needsNotSent1, #vboxArtists {
    -fx-spacing: 5;
}



/* Buttons */

#jobButt, #goHome {
    -fx-background-radius: 40;
    -fx-padding: 10, 10, 10, 10;
    -fx-background-color: #A6808C,
        linear-gradient(#AE8B96, #795E66);
    -fx-text-fill: #D6C5BC;
    -fx-font-size: 22;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

#goHome {
    -fx-font-size: 18;
}

#tekButts, #arrScenes, #offerButt, #genres, #addHoy, #addMic, #addMon, #addSing, #delHoy, #delMic, #delMon, #delSing {
    -fx-background-radius: 10;
    -fx-padding: 10, 10, 10, 10;
    -fx-background-color: #D9CAC2,
        linear-gradient(#D6C5CA, #B697A0);
    -fx-text-fill: #565264;
    -fx-font-size: 12;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

#tabButt {
    -fx-color: #D6C5BC;
    -fx-background-color: #D9CAC2,
           linear-gradient(#D6C5CA, #B697A0);
}

/*
#arrScenes {
    -fx-background-radius: 10;
    -fx-padding: 10, 10, 10, 10;
    -fx-background-color: #D9CAC2,
        linear-gradient(#D6C5CA, #B697A0);
    -fx-text-fill: #565264;
    -fx-font-size: 22;
    -fx-margin: 100;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}
*/

#choiceBoxFestivals, #choiceBoxScenes {
    -fx-background-radius: 40;
    -fx-background-color: #A6808C,
    linear-gradient(#AE8B96, #6A525A);
    -fx-text-fill: #D6C5BC;
    -fx-font-size: 12;
    -fx-margin: 100;

}

/* Button effects */

#jobButt:hover, #goHome:hover {
    -fx-background-color: #A6808C,
        linear-gradient(#A6808C, #B697A0);
}

#arrScenes:focused, #tekButts:focused, #offerButt:focused, #genres:focused, #addHoy:focused, #addMic:focused, #addMon:focused, #addSing:focused, #delHoy:focused, #delMic:focused, #delMon:focused, #delSing:focused {
    -fx-background-color: #D9CAC2,
        linear-gradient(#AE8B96, #795E66);
}
#arrScenes:focused:hover, #tekButts:focused:hover, #offerButt:focused:hover, #genres:focused:hover, #addHoy:hover, #addMic:hover, #addMon:hover, #addSing:hover #delHoy:hover, #delMic:hover, #delMon:hover, #delSing:hover {
     -fx-background-color: #D9CAC2,
         linear-gradient(#AE8B96, #795E66);
}
#arrScenes:hover, #tekButts:hover, #offerButt:hover, #genres:hover, #addHoy:hover, #addMic:hover, #addMon:hover, #addSing:hover, #delHoy:hover, #delMic:hover, #delMon:hover, #delSing:hover  {
     -fx-background-color: #D9CAC2,
        linear-gradient(#D9CAC2, #FBF9F8);
}

#tabButt:selected {
    -fx-background-color: #A6808C,
        linear-gradient(#B697A0, #AE8B96);
}



/* Title and other labels */

#titleLabel {
    -fx-font-size: 35;
    -fx-text-fill: #A6808C;
}

#labelLightTech, #labelSoundTech {
   -fx-font-size: 22;
   -fx-margin: 100;
}

#labelArrTitle {
    -fx-font-size: 30;
    -fx-margin: 100;
    -fx-text-fill: #A6808C;
}



/* Others */

.split-pane, *.split-pane-divider {
-fx-background-color: transparent;
-fx-padding: 0 1 0 1;
}

#scrollPane {
 -fx-background: #D6CFCB;
 -fx-background-color: #D6CFCB;
 -fx-border-radius: 10 10 0 0;
 -fx-background-radius: 10;
}

/* Margin
 Must be done with padding since margin doesn't exist in the css
 */

#vboxBorderLeft {
    -fx-padding: 50 0 0 25;
    -fx-border-insets: 50 0 0 25;
    -fx-background-insets: 50 0 0 25;
}

#borderCenter, #arrSplitPane {
    -fx-padding: 50 0 0 25;
    -fx-border-insets: 50 0 0 25;
    -fx-background-insets: 50 0 0 25;
}

#buttonBar {
    -fx-padding: 15 20 5 0;
    -fx-border-insets: 15 20 5 0;
    -fx-background-insets: 15 20 5 0;
}

#arrDropdown {
    -fx-padding: 10 0 10 30;
    -fx-border-insets: 10 0 10 30;
    -fx-background-insets: 10 0 10 30;
}

#scrollPane {
    -fx-padding: 20 0 0 30;
    -fx-border-insets: 20 0 0 30;
    -fx-background-insets: 20 0 0 30;
}

#scrollPaneAnchor, #vboxLightTech {
    -fx-padding: 0 0 10 5;
    -fx-border-insets: 0 0 10 5;
    -fx-background-insets: 0 0 10 5;
}

#vboxArtists, #vBoxBands, #vBoxBandsTab2, #vBoxGenre , #vBoxTekniker, #needsNotSent1 {
    -fx-padding: 10 5 10 5;
    -fx-border-insets:  10 5 10 5;
    -fx-background-insets:  10 5 10 5;
}

#tabPane {
    -fx-padding: 15 0 0 0;
    -fx-border-insets:  15 0 0 0;
    -fx-background-insets:  15 0 0 0;
}

#tabAnchor {
    -fx-padding: 35 0 0 0;
    -fx-border-insets:  35 0 0 0;
    -fx-background-insets:  35 0 0 0;
}

#tabVboxBorderLeft {
    -fx-padding: 20 0 0 25;
    -fx-border-insets: 20 0 0 25;
    -fx-background-insets: 20 0 0 25;
}

#labelBandInfo1, #labelFestival {
    -fx-padding: 10 0 10 50;
    -fx-border-insets: 10 0 10 50;
    -fx-background-insets: 10 0 10 50;
}

#vboxSearch {
    -fx-padding: 10 30 10 30;
    -fx-border-insets: 10 30 10 30;
    -fx-background-insets: 10 30 10 30;
}